.main {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}

.post {
    width: 500px;
    margin-bottom: 25px;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}

.post:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.01);
}



.post img {
    width: 100%;
}

.post p {
    font-family: "Raleway", sans-serif;
    opacity: 0.8;
}
.post h1 {  
    text-align:left !important;
    font-size: 20px;
    opacity: 0.8;
    font-weight: bold;
    color:#0275d8;
    cursor: pointer;
    text-align: center;
}

.post h1:hover {  
    opacity: 1;

}


.paginator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator div {
    margin: 25px;
    font-family: "Raleway", sans-serif;
}

.paginator .active {
    cursor: pointer;
    opacity: 0.8;
}

.active:hover {
    color: #0275d8;
}

.paginator .disabled {
    cursor: not-allowed;
    color: rgb(179, 179, 179);
    opacity: 0.2;
}

.pageNumber {
    border: 1px solid #0275d8;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 550px){

    .post {
        width: 100%;
        padding: 0 10px 25px 10px;
        
        border-bottom: 1px solid gray;
    }

}